/*
|--------------------------------------------------------------------------
| Buttons
|
| Various button styles that can be used. Apply this class directly
| in HTML. Then BEM syntax can override if needed.
|
| Example:
|
| <div class="block">
|     <a class="block__button button" href=""></a>
| </div>
|
|--------------------------------------------------------------------------
*/

button, input[type='submit'] {
    cursor: pointer;
    transition: color 0.2s, background 0.2s, opacity 0.2s, border 0.2s;
}

.button {
    display: inline-block;
    padding: 0.8em 1em;

    background-color: $color-cta-primary;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s, background 0.2s, opacity 0.2s, border 0.2s;
}

.button--very_small {
    @extend %button;

    background-color: #3f3f3f;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;

    &:hover, &:focus {
        background-color: lighten(#3f3f3f, 10);
        outline: 0;
    }
}

.button--small {
    @extend %button;

    background-color: #3f3f3f;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;

    &:hover, &:focus {
        background-color: lighten(#3f3f3f, 10);
        outline: 0;
    }

    &:after {
        position: relative;

        display: inline-block;
        margin-left: 0.35em;

        content: '\203A';
        font-size: 1.2em;
        line-height: 1;
    }

    &:hover:after, &:focus:after {
        left: 1px;

        transform: scale(1.15);
    }
}

.button--large {
    @extend %button;

    background-color: $color_brand_primary;
    color: #fff;
    font-size: 16px;

    &:hover, &:focus {
        background-color: lighten($color_brand_primary, 10);
        outline: 0;
    }

    @media only screen and (min-width: 1000px) {
        font-size: 20px;
    }
}

.button--hollow {
    @extend %button;

    border: 1px solid $color_grey;
    color: $color_grey;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-transform: uppercase;

    &:hover, &:focus {
        border: 1px solid $color_grey;
        color: #fff;
        outline: 0;
    }

    &:after {
        position: relative;

        display: inline-block;
        margin-left: 0.4em;

        content: '\203A';
        font-size: 1.2em;
        line-height: 1;
    }

    &:hover:after, &:focus:after {
        left: 1px;

        transform: scale(1.15);
    }
}
