/*
|--------------------------------------------------------------------------
| Grid
|
| This is a very basic grid structure, which is often sufficient.
| Feel free to add columns, or even replace this with a grid system from
| another system if that suits you better.
|
| See the block-grid mixin as well.
|--------------------------------------------------------------------------
*/

.grid {

    &__container {
        @include clearfix;

        margin: 0 auto;
        max-width: $site-width + $global-padding*2;
        padding: 0 $global-padding / 2;

        @media (min-width: 1000px) {
            padding: 0 $global-padding;
        }

        @media (min-width: 768px) and (max-width: 999px) {
            max-width: 768px;
        }

        @media (min-width: 1000px) and (max-width: $site-width - 1px) {
            max-width: 1000px;
        }

        &--relative {
            position: relative;
        }
    }

    &__article {
        @media (min-width: 768px) {
            float: left;
            width: 65%;
        }
    }

    &__aside {
        @media (min-width: 768px) {
            float: left;
            width: 35%;
        }
    }
}
