%h1 {
    font: normal 400 42px/1 $font_regular;


    @media only screen and (min-width: 768px)
    {
        font-size: 50px;
    }

    @media only screen and (min-width: 1000px)
    {
        font-size: 60px;
    }

    @media only screen and (min-width: 1280px)
    {
        font-size: 70px;
    }
}

%h1_small {

    font: 400 normal 28px/1 $font_regular;

    @media only screen and (min-width: 380px) {

        font-size: 32px;
    }

    @media only screen and (min-width: 420px) {

        font-size: 38px;
    }

    @media only screen and (min-width: 600px) {

        font-size: 40px;
    }

    @media only screen and (min-width: 1280px) {

        font-size: 44px;
    }
}

%h2 {

    font: normal 400 20px/1.2 $font_regular;

    @media only screen and (min-width: 600px) {

        font-size: 26px;
    }

    @media only screen and (min-width: 768px)
    {
        font-size: 28px;
    }

    @media only screen and (min-width: 1000px)
    {
        font-size: 30px;
    }

    @media only screen and (min-width: 1280px)
    {
        font-size: 34px;
    }
}

%h3 {
    font: normal 400 20px/1.2 $font_regular;

    @media only screen and (min-width: 768px)
    {
        font-size: 24px;
    }

    @media only screen and (min-width: 1000px)
    {
        font-size: 28px;
    }
}

%p
{
    font: normal 400 16px/1.45 $font_regular;

    @media only screen and (min-width: 768px)
    {
        font-size: 18px;
    }
}

%p_light
{
    font: normal 200 15px/1.5 $font_regular;

    @media only screen and (min-width: 1000px)
    {
        font-size: 17px;
    }
}

.nowrap {

    white-space: nowrap;
}