@import url(//cloud.typography.com/6136852/679964/css/fonts.css);

$font_headline: 'Knockout 31 A', 'Knockout 31 B';
$font_headline_2: 'Knockout 50 A', 'Knockout 50 B';

$font_regular: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;