@mixin list_reset
{
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin clearfix
{
    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin vertical_center {
    position: relative;
    top: 50%;

    transform: translateY(-50%);
}

.image_wrap {
    position: relative;

    display: block;
    padding-top: 100%;
    overflow: hidden;

    &--16_9
    {
        padding-top: 56.25%;
    }

    &--4_3
    {
        padding-top: 75%;
    }

    &--2_1
    {
        padding-top: 50%;
    }

    &--1_2
    {
        padding-top: 200%;
    }

    &--4_6
    {
        padding-top: 66.66666%;
    }

    img
    {
        position: absolute;
        top: 0;

        display: block;
        width: 100%;
    }
}

@mixin justified_grid($child_tag: li, $child_count: 3, $child_gutter: 1%) {
    width: 100%;

    text-align: justify;

    &:after
    {
        content: '';
        display: inline-block;
        width: 100%;
    }

    #{$child_tag} {
        display: inline-block;
        width: (100% / $child_count) - $child_gutter;

        text-align: left;
    }
}

@mixin matrix_grid($column_count: 2, $gutter: 1%) {
    $gutter_count: $column_count - 1;
    $total_gutter_widths: $gutter_count * $gutter;
    $total_column_widths: 100 - $total_gutter_widths;
    $column_width: $total_column_widths / $column_count;

    clear: none;
    float: left;

    margin-right: $gutter / 2; // help out IE8 so we don't need js.
    padding-bottom: $gutter;

    &:nth-child(1n) {
        float: left;
        clear: none;
        margin-right: $gutter;
    }

    width: $column_width;

    &:nth-child(#{$column_count}n + 1) {
        clear: both;
        margin-left: 0;
    }

    &:nth-child(#{$column_count}n) {
        margin-right: 0;
    }
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal )
{
    @font-face
    {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;

        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix')               format('embedded-opentype'),
           url('#{$file-path}.woff')                     format('woff'),
           url('#{$file-path}.ttf')                      format('truetype'),
           url('#{$file-path}.svg##{$font-family}')      format('svg');
    }
}

@mixin container
{
    @include clearfix;

    margin: 0 auto;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
}
