@mixin list_reset
{
    margin: 0;
    padding: 0;
    list-style: none;
}

$fixed_size: false !default;

@mixin respond_min($width)
{
    @if $fixed_size
    {
        @if $fixed_size >= $width
        {
            @content;
        }
    }
    @else
    {
        @media screen and (min-width: $width)
        {
            @content;
        }
    }
}

@mixin respond_max($width)
{
    @if $fixed_size
    {
        @if $fixed_size <= $width
        {
            @content;
        }
    }
    @else
    {
        @media screen and (max-width: $width)
        {
            @content;
        }
    }
}

@mixin respond_min_max($min, $max)
{
    @if $fixed_size
    {
        @if $fixed_size >= $min
        {
            @if $fixed_size <= $max
            {
                @content;
            }
        }
    }
    @else
    {
        @media screen and (min-width: $min) and (max-width: $max)
        {
            @content;
        }
    }
}

@mixin old_ie
{
    @if $fixed_size
    {
        @content;
    }
}