body
{
    font: normal 16px/1.5 $font_regular;
}

h1
{
    margin-bottom: 0;

    color: $grey;
    font: normal 28px/1 $font_regular;

    & + p
    {
        margin-top: 5px;
    }
}

h2
{
    margin-top: 35px;
    margin-bottom: 0;

    color: #000;
    font: normal 22px/1 $font_regular;

    & + p
    {
        margin-top: 8px;
    }
}

h3
{
    margin-bottom: 0;

    color: #000;
    font: bold 17px/1 $font_regular;

    & + p
    {
        margin-top: 8px;
    }
}

h4
{
    color: #777;
    font: normal 18px/1.4 $font_regular;
}

p, li
{
    color: #626366;
    font: normal 16px/1.5 $font_regular;
}

a
{
    color: #000;

    transition: color .2s;

    &:hover, &:active, &:focus
    {
        color: #777;
    }
}

quote, blockquote
{
    margin: 30px;

    color: #000;
    font: normal 17px/1.5 $font_regular;
}

.leadin
{
    color: #000;
    font: normal 24px/1.2 $font_regular;
}