%h1 {

    font: normal 400 30px/1 $font_regular;

    @media only screen and (min-width: 768px)
    {
        font-size: 50px;
    }

    @media only screen and (min-width: 1000px)
    {
        font-size: 60px;
    }
}

%h1_small {

    font: normal normal 28px/1 $font_regular;

    @media only screen and (min-width: 380px) {

        font-size: 32px;
    }

    @media only screen and (min-width: 1280px) {

        font-size: 44px;
    }
}

%h2 {

    margin-bottom: .18em;

    font: normal normal 20px/1.2 $font_regular;

    @media only screen and (min-width: 768px)
    {
        font-size: 26px;
    }
}

%h3 {

    font: normal normal 16px/1.1 $font_regular;

    @media only screen and (min-width: 768px)
    {
        font-size: 20px;
    }
}


%p {
    padding-bottom: .8em;

    font: normal 400 14px/1.5 $font_regular;

    @media only screen and (min-width: 768px)
    {
        font-size: 16px;
    }
}

%p_light {

    font: normal 200 20px/1.3 $font_regular;

    @media only screen and (min-width: 1000px)
    {
        font-size: 24px;
        line-height: 1.375;
    }
}

%ul  {

    margin: 20px;

    list-style: disc;
}

%ol  {

    list-style: digit;
}

%li {

    padding-bottom: .8em;

    font-size: 14px;
    line-height: 1.5;
    list-style: inherit;
}

%strong {

    font-weight: 500;
}

%em {

    font-style: italic;
}

.nowrap {

    white-space: nowrap;
}
