$global_padding: 30px;
$site_width: 1200px;

*, *:after, *:before {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

a {
  color: inherit;
  transition: color 0.2s, background 0.2s, opacity 0.2s, border 0.2s;
}

input[type="email"],
input[type="search"],
input[type="tel"],
input[type="text"],
textarea {

  border: none;
  border-radius: 0;
  font-family: inherit;
  -webkit-appearance: none;

  &:focus {

    outline: 0;
  }
}

button,
input[type="submit"] {

  border: none;
  cursor: pointer;
  transition: color 0.2s, background 0.2s, opacity 0.2s, border 0.2s;
  -webkit-appearance: none;
}

html {

  background-color: #000;
}
