/*
|--------------------------------------------------------------------------
| Block Grid
|
| The block grid evenly spaces out multiple rows of elements.
| It pads the bottom as well to be even with the horizontal spacing.
| CSS nth child selectors are used to do this.
|
| Make sure to use clearfix on the container as we’re using floats.
|--------------------------------------------------------------------------
*/

@mixin block-grid($column-count: 2, $gutter: 1%) {
    $gutter-count: $column-count - 1;
    $total-gutter-widths: $gutter-count * $gutter;
    $total-column-widths: 100 - $total-gutter-widths;
    $column-width: $total-column-widths / $column-count;

    clear: none;
    float: left;

    margin-right: $gutter / 2; // help out IE8 so we don't need js.
    padding-bottom: $gutter;

    &:nth-of-type(1n) {
        float: left;
        clear: none;
        margin-right: $gutter;
    }

    width: $column-width;

    &:nth-of-type(#{$column-count}n + 1), &.child-#{$column-count}n-1 {
        clear: both;
        margin-left: 0;
    }

    &:nth-of-type(#{$column-count}n) {
        margin-right: 0;
    }
}
