/*
|--------------------------------------------------------------------------
| Colors
|
| Color pallet that is used throughout the site
|--------------------------------------------------------------------------
*/

$color-brand-primary: #f00;
$color-cta-primary: #0f0;
$color-accent-primary: #00f;

$color-black: #2c3e50;
$color-grey: #95a5a6;
