// Image wrap mixin sets the height of a fluid width image before it even loads.
// Requires a container element.
// Defaults to 9 /
@mixin image_wrap($aspect_ratio: 56.25%) {

    position: relative;

    display: block;
    padding-top: 100%;
    overflow: hidden;

    padding-top: $aspect_ratio;

    img
    {
        position: absolute;
        top: 0;

        display: block;
        width: 100%;
    }
}